body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.explainer {
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: 12px / 18px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 344px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 24px;
  padding: 10px 24px;
  max-height: 96%;
  overflow: hidden overlay;
  outline: none;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .explainer {
    visibility: hidden;
  }
}